.page-contact-body {
    .block-list-slider {
        padding: 0 0 20px;
        margin-top: 20px;
        background-color: $gray3;

        .title {
            color: $blue;
            background-color: transparent;
            margin-top: -10px;
        }
    }
}