.clearfix {
    @include clearfix;
}

.wrapper {
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
    @media screen and (min-width: $desktop-medium) {
        max-width: 1140px;
    }
}

#main-content {
    position: relative;
}